* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 400px;
    position: relative;
    background: url('images/background-pattern-desktop.svg') no-repeat;
    background-color: hsl(274, 100%, 97%);
    background-position: top;
    background-size: auto 50%;
}

.faq-accordion {
    display: block;
    padding: 40px 15px;
    margin: auto;
    color: hsl(292, 42%, 14%);
    background-color: hsl(0, 0%, 100%);
    width: 50%;
    border-radius: 1rem;
}

.faq-accordion:hover {
    box-shadow: 1px 1px 10px 1px rgb(148, 146, 146);
    transition: 0.4s ease;
}

.faq-heading {
    display: flex;
    align-items: center;
}

.faq-heading img {
    margin-left: 20px;
    width: 30px;
    height: 30px;
    max-width: 100%;
}

.faq-heading h1 {
    margin-left: 20px;
    font-weight: bold;
}

.FAQ-CONTENT {
    margin-bottom: 15px;
}

.faq-dropdown {
    border-bottom: 1px solid hsl(300, 2%, 86%);
    padding: 18px 20px;
}

.faq-dropdown-header:hover {
    color: hsl(292, 100%, 38%);
}

.faq-dropdown-header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    cursor: pointer;
    position: relative;
}

button {
    border: 0;
    width: 30px;
    height: 30px;
    background-size: cover;
    cursor: pointer;
    background-color: inherit;
    position: absolute;
    right: 10px;
    transition: 0.3s ease;
    background: url('images/icon-plus.svg');
}

.faq-dropdown-body {
    display: none;
}

.faq-dropdown-body.open {
    display: block;
}

.faq-icon.open {
    background: url('images/icon-minus.svg');
    transition: 0.3s ease;
}

.footer {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
    color: hsl(292, 100%, 90%);
    opacity: 0.5;
}

@media (max-width: 760px) {
    body {
        background: url(images/background-pattern-mobile.svg), linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, hsl(275, 100%, 97%) 25%);
        background-repeat: repeat-x;
        background-size: 100%;
        min-width: 375px;
    }

    .faq-accordion {
        min-width: 400px;
        margin: auto;
    }
}
